<!doctype html>
<html lang="en">

<head>
    <title>Crear Producto</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    
     <!-- ICONO -->
     <script src="https://kit.fontawesome.com/d4319f70fb.js" crossorigin="anonymous"></script>
     <link rel="apple-touch-icon" sizes="57x57" href="/meta/favicons/apple-icon-57x57.png">
     <link rel="apple-touch-icon" sizes="60x60" href="/meta/favicons/apple-icon-60x60.png">
     <link rel="apple-touch-icon" sizes="72x72" href="/meta/favicons/apple-icon-72x72.png">
     <link rel="apple-touch-icon" sizes="76x76" href="/meta/favicons/apple-icon-76x76.png">
     <link rel="apple-touch-icon" sizes="114x114" href="/meta/favicons/apple-icon-114x114.png">
     <link rel="apple-touch-icon" sizes="120x120" href="/meta/favicons/apple-icon-120x120.png">
     <link rel="apple-touch-icon" sizes="144x144" href="/meta/favicons/apple-icon-144x144.png">
     <link rel="apple-touch-icon" sizes="152x152" href="/meta/favicons/apple-icon-152x152.png">
     <link rel="apple-touch-icon" sizes="180x180" href="/meta/favicons/apple-icon-180x180.png">
     <link rel="icon" type="image/png" sizes="192x192"  href="/meta/favicons/android-icon-192x192.png">
     <link rel="icon" type="image/png" sizes="32x32" href="/meta/favicons/favicon-32x32.png">
     <link rel="icon" type="image/png" sizes="96x96" href="/meta/favicons/favicon-96x96.png">
     <link rel="icon" type="image/png" sizes="16x16" href="/meta/favicons/favicon-16x16.png">
     <link rel="manifest" href="/meta/favicons/manifest.json">
     <meta name="msapplication-TileColor" content="#ffffff">
     <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
     <meta name="theme-color" content="#ffffff">

     <!-- CSS -->
     <link rel="stylesheet" href="css/styles.css">
     <link rel="stylesheet" href="css/footer.css">

     <!-- TITULO -->
     <title>Best Bet</title>
     <link rel="stylesheet" href="css/footer.css">
</head>

<body>
    <header id="header">
        <!-- place navbar here -->
    </header>
    <main>
        <div class="container" id="app">
            <form style="background-color: aliceblue;margin:10px auto ; width: 400px; padding: 20px;">
                <h1>Alta de Producto</h1>
                <div class="mb-3">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" v-model="nombre">
                </div>
                <div class="mb-3">
                    <label for="precio">Precio</label>
                    <input type="number" name="precio" id="precio" v-model="precio">
                </div>
                <div class="mb-3">
                    <label for="stock">Stock</label>
                    <input type="number" name="stock" id="stock" v-model="stock">
                </div>
                <div class="mb-3">
                    <label for="imagen">Imagen</label>
                    <input type="text" name="imagen" id="imagen" v-model="imagen">
                    <img width="100" :src="imagen" alt="">

                </div>

                <button type="button" class="btn btn-success" v-on:click="grabar()">Grabar</button>
            </form>

        </div>

    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
    <script src="./js/main.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/productos.js"></script>
</body>

</html>